bucket         = "job-selection-tracker-terraform-state-<AWS_ACCOUNT_ID>-ap-northeast-1"
key            = "job-selection-tracker/dev/terraform.tfstate"
region         = "ap-northeast-1"
dynamodb_table = "job-selection-tracker-terraform-locks"
encrypt        = true
